<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<!-- loopup-method test 使Spring替换一个bean原有的，获取其它对象具体的方法，并自动返回在容器中的查找结果 -->
	<bean id="commandManager1" class="com.web.things.springioc.manager.CommandManager1">
		<lookup-method name="createCommand" bean="command1" />
	</bean>
	<bean id="command1" class="com.web.things.springioc.Command">
		<property name="name" value="loopup-method" />
	</bean>
	
	

</beans>